<%= render 'shared/errors', obj: @article %>

<%= form_with(model: @article, local: true) do |f| %>
    <div class="container mt-4 mb-4">
        <div class="card text-center shadow mb-2 bg-white rounded">
            <div class="card-body">
                <div class="form-group">
                    <%= f.label :title, class: "float-left" %>
                    <%= f.text_field :title, class: "form-control shadow-sm", placeholder: "Title of article" %>
                </div>
                <div class="form-group">
                    <%= f.label :description, class: "float-left" %>
                    <%= f.text_area :description, rows: 5, class: "form-control shadow-sm", id: "newFormControlTextarea1", placeholder: "Description of article" %>
                </div>
                <div class="form-group">
                    <%= f.submit class: "btn btn-outline-success float-left"%>
                    <%= link_to 'Cancel', articles_path, class: "btn btn-outline-danger float-right" %>
                </div>
            </div>
        </div>
    </div>
<% end %>